@import 'melee';

.sidebar,
.main {
  padding: 0 50px;
  font-family: $SSPro;
}

.sidebar {
  float: left;
  .username {
    font-weight: 400;
    font-size: 30px;
  }
}

.main {
  overflow: hidden;
  ul {
    li {
      list-style: none;
    }
  }
}